<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body class="XCapital CMS">
    <header>
      <h1>Hello Lam from Germany</h1>
    </header>
    <nav>
      <ul>
        <li><a href="<%= BASE_URL %>">Home</a></li>
        <li><a href="<%= BASE_URL %>about">About</a></li>
        <li><a href="<%= BASE_URL %>contact">Contact</a></li>
      </ul>
    </nav>
    <main>
      <section>// TODO: add call to action button</section>
      <article>This is my article</article>
    </main>
    <footer>Copyright Thach 2022</footer>
  </body>
</html>
